
/*RESPONSIVE_________________________________________________________________*/










/*NAVEGACIÓN_________________________________________________________________*/
body{background-color: black;}

.navbar{background-color: #EFFF39; position: fixed; top: 0; width: 100%;}
.navbar a{float: left; display: block; margin-right: 30px;}
.navbar a:hover{background-color: #ffffff; border-radius: 15px;color: black;}
.aenn{font-family: 'Medula One', cursive; margin-left: 60px;font-size: 90px;} 
.direct{font-family: 'Inter', sans-serif; margin-left: 80px; font-size: 40px; }

/*CONTENEDOR_________________________________________________________________*/
.wrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

/*IMG Y DESCRIPCIÓN_________________________________________________________________*/
.presentacion{ text-align: center;}
.present{color: white; font-family: 'Inter', sans-serif; margin-top: 150px; margin-left: 45px;}  
.description{font-size: 100px;}

footer{background: linear-gradient(rgba(0, 0, 0, 0.66),#242424);}

/*FORMULARIO_________________________________________________________________*/

.formulario{margin:0 auto;
            width: 1600px;
            padding: 2em;
            border: 1px solid #EFFF39;
            border-radius: 2em;
            margin-top: 70px; }

form li + li{margin-top: 2em;}

label{
        display: inline-block;
        width: 200x;
        text-align: right;
        font-size: 50px;
}

input, textarea {
        font: 50px 'Inter', sans-serif; 
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #242424;
        border-radius: 30px;
}
input:focus{
    border-color: #EFFF39;
}
textarea:focus{
    border-color: #EFFF39;
}

.btn1{
    font-size: 45px;
    border-color:#EFFF39;  
    border-radius: 25px;  
    font-family: 'Inter', sans-serif;
    background-color: black;
    color: white;
    margin-left: 250px;
    margin-top: 45px;
    margin-right: 200px;
    width: 400px;
}
.btn1:hover{background-color: #EFFF39; color: black;}

.btn2{
    font-size: 45px;
    border-color:#EFFF39;  
    border-radius: 25px;  
    font-family: 'Inter', sans-serif;
    background-color: black;
    color: white;
    width: 400px;
}
.btn2:hover{background-color: #EFFF39; color: black;}



/*.contacto{margin-top: 30px; margin-left: 30px;}
