


body{background-color: black;}
/*NAV=====================================================================*/

.navbar{background-color: #EFFF39; position: fixed; top: 0; width: 100%;}
.navbar a{float: left; display: block; margin-right: 30px;}
.navbar a:hover{background-color: #ffffff; border-radius: 10px;color: black;}
.aenn{font-family: 'Medula One', cursive; margin-left: 50px;font-size: 45px;} 

.direct{font-family: 'Inter', sans-serif; margin-left: 80px; font-size: 22px; }


/*UNO=====================================================================*/
.present{color: white; font-family: 'Inter', sans-serif; margin-top: 90px; margin-left: 90px;}  
.hello{font-size: 150px; margin-top: 80px;}
.ale{font-size: 150px;}

.btn{border-color:#EFFF39; margin-left: 100px; color:#EFFF39; border-radius: 30px; width: 200px; height: 70px; font-size: 30px;font-family: 'Inter', sans-serif;}
.btn:hover{background-color: #EFFF39;}
footer{background: linear-gradient(black,#EFFF39);}

.wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.img{width: 87%; margin-left: 40px; margin-top: 20px;}

h3{margin-left: 100px; color: white;}


/*DOS=====================================================================*/
.dos{
    background-color: white;
}

.tit2{
    margin-left: 40%;
    margin-top: 30%;
    font-size: 100px;
}
.tit21{
    margin-left: 40%;
    font-size: 100px;
}
.parr2{
    margin-top: 9%;
    margin-right: 6%;
}
.imagenes{
    margin-left: 50%;
}
/*TRES=====================================================================*/
.tit3{
    margin-left: 35%;
}
.tit31{
    margin-left: 35%;
}
/*CUATRO=====================================================================*/
.cuatro{
    background-color: rgba(0, 0, 0, 0.868);
}
.tit4{
    margin-left: 30%;
}


/*FORMULARIO_________________________________________________________________*/

.iconcontact{
    display: flex;
    justify-content: center;
}
svg{
    margin-right: 120px;
    margin-top: 100px;
    margin-right: 120px;
    margin-bottom: 30px;
    color: #EFFF39;
}
svg,p{
    color: white;
}

.formulario{margin:0 auto;
    width: 1000px;
    padding: 2em;
    border: 1px solid #EFFF39;
    border-radius: 2em;
    margin-top: 20px; }

form li + li{margin-top: 1em;}


input, textarea {
font: 35px 'Inter', sans-serif; 
width: 80%;
box-sizing: border-box;
border: 1px solid #242424;
background-color: #24242473;
border-radius: 10px;
font-size: 25px;
color: white;
}
input:focus{
border-color: #EFFF39;
}
textarea:focus{
border-color: #EFFF39;
}

.btn1{
font-size: 28px;
border-color:#EFFF39;  
border-radius: 25px;  
font-family: 'Inter', sans-serif;
background-color: black;
color: white;
margin-left: 250px;
margin-top: 45px;
margin-right: 200px;
width: 180px;
}
.btn1:hover{background-color: #EFFF39; color: black;}

.btn2{
font-size: 28px;
border-color:#EFFF39;  
border-radius: 25px;  
font-family: 'Inter', sans-serif;
background-color: black;
color: white;
width: 180px;
}
.btn2:hover{background-color: #EFFF39; color: black;}
