

body{background-color: black;}

.navbar{background-color: #EFFF39; position: fixed; top: 0; width: 100%;}
.navbar a{float: left; display: block; margin-right: 30px;}
.navbar a:hover{background-color: #fffc59; border-radius: 15px;}
.aenn{font-family: 'Medula One', cursive; margin-left: 30px;font-size: 50px;} 

.direct{font-family: 'Inter', sans-serif; margin-left: 80px; font-size: 25px; }

.present{color: white; font-family: 'Inter', sans-serif; margin-top: 200px; margin-left: 45px;}  
.hello{font-size: 300px;}
.ale{font-size: 300px;}

.btn{border-color:#EFFF39; margin-left: 400px; color:#EFFF39; border-radius: 30px; width: 300px; height: 140px; font-size: 50px;font-family: 'Inter', sans-serif;}

.btn:hover{background-color: #EFFF39;}
footer{background: linear-gradient(black,#EFFF39);}