body{background-color: #1a1e2d;}
        
.colornav{background-color: #edf2f7;}

.img{background-color: #1a1e2d; text-align: center;}

.nombre{color: #edf2f7; font-family: Verdana, Geneva, Tahoma, sans-serif;}

.proy{color: #edf2f7; margin: 50px;}